USE [TUĞRAL_DÖKÜM_LTD_2022T]
GO
/****** Object:  UserDefinedFunction [dbo].[CARI_EKSTRE]    Script Date: 11.03.2022 23:09:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--alter VIEW VW_CariHesapEkstresi as 
SELECT CBKISLEMREF SATIRNO, UGDK, --ugdk = 0 ise alacak
		'Geçerli' as IPTALDURUMU,
		ISLEMAC AS FATURATURU
	--	,  CASE WHEN TUTARB>0 THEN TUTARB ELSE TUTARA END - FATURA_ALT.KDVTL     AS TUTAR
	   , cast(CASE WHEN TUTARB>0 THEN TUTARB ELSE TUTARA END  as float) AS BORC   -- borç olacak
	   ,cast(CASE WHEN TUTARB>0 THEN TUTARB ELSE TUTARA END  as float) AS ALACAK 
		--,FATURA_ALT.KDVTL KDVTUTAR
		,EVRAKNO AS FATURANO
		,TARIH AS FATURATARIHI
		,CARIGEN.CRK AS CARINO
		,CARIGEN.STA AS CARIADI
		,CARIGEN.SEHIR
		,CARIGEN.VERGID
		,CARIGEN.VERGINO
		,0 ISYERINO
		,CARIGEN.SEMT AS ISYERIADI
		,0 BOLUMNO
		,CARIGEN.SEMT AS BOLUMADI
		,YEAR(TARIH) AS YIL
		,MONTH(TARIH) AS AY
		, CASE WHEN TUTARB>0 THEN TUTARB ELSE TUTARA END - FATURA_ALT.KDVTL  AS VERGIMATRAHI
		,TEVKTL
		,*
		--,FATURA_ALT.KDVY
		 
		FROM CARI_EKSTRE('120.0430367835','20220101','20220301')
		LEFT JOIN (select 
		P_ID,KDVY=SUM(isnull(KDVY,0)),KDVTL=SUM(isnull(KDVTL,0)),TEVKTL=SUM(isnull(TEVKTL,0))   
	from 
	FATURA_ALT GROUP BY P_ID) FATURA_ALT ON FATURA_ALT.P_ID = EVRAKP_ID
	   LEFT JOIN CARIGEN ON CARIGEN.P_ID = CARIP_ID
	WHERE
	MONTH(TARIH) = 1 --AND 	ISLEMTURU IN (61,62,64,69,270,271,272,60,63,280,281) 

	 order by FATURATARIHI