
--EXEC [EMY_INDIRILECEK_KDV] '','','','20200101','20201231',0
alter PROCEDURE [dbo].[EMY_INDIRILECEK_KDV] @DB NVARCHAR(50), @FIRM NVARCHAR(3), @DONEM NVARCHAR(2) ,
                                      @_BEGIN_DATE DATETIME,
									  @_END_DATE DATETIME,
                                      @_FICHENO_TYPE INT 
                                     
 
AS
BEGIN

--declare @_BEGIN_DATE datetime = '20200101'
--declare @_END_DATE datetime = '20201231'
--DECLARE @_FICHENO_TYPE int = 0
DECLARE @GUMRUK_FATURALARI TABLE
(
	INVOICEREF INT,
    FICHENO VARCHAR(100),
    DOCODE VARCHAR(100),
	FILENO VARCHAR(100),
	CUSTDOCNO VARCHAR(100),
	VATAMNT FLOAT,
	VAT INT,
    VATAMNT_1 FLOAT,
    VATAMNT_8 FLOAT,
    VATAMNT_18 FLOAT,
	DATE_ DATETIME
)



SELECT ROW_NUMBER() OVER(ORDER BY date_) as SIRANO,DATE_ as 'AlisFaturaTarihi' ,DOCODE as AlisFaturaSeri,FICHENO as AlisFaturaNo,DEFINITION_ as SaticiAdiUnvani, TAXNR as VergiTcNo,MalzemeAdi as AlinanMalVeMalzeme,Adet AlinanMalveHizmetAdet,GROSSTOTAL as	KdvHaricTutar,TOTALVAT as KdvTutar,'' GGBNo, cast(year(DATE_) as varchar(4)) +  REPLACE(STR(cast(month(DATE_) as varchar(2)), 2), SPACE(1), '0') as KdvDonemi,'' AraciFirmaTcNo --,TBLDETAY.MalzemeAdi,TBLDETAY.Adet
    FROM (SELECT 1 AS TIP, INVOICE.LOGICALREF, INVOICE.SPECODE, ISNULL(CLCARD.CODE, '') AS CODE, ISNULL(CLCARD.DEFINITION_, INVOICE.GENEXP1) AS DEFINITION_,  
		        ISNULL(CLCARD.TAXOFFICE, INVOICE.GENEXP3) AS TAXOFFICE, ISNULL(CASE CLCARD.ISPERSCOMP WHEN 1 THEN TCKNO ELSE CLCARD.TAXNR END, INVOICE.GENEXP2) AS TAXNR, INVOICE.DATE_, 
                INVOICE.SERIALCODE AS SERINO, CASE 0 WHEN 0 THEN INVOICE.FICHENO ELSE INVOICE.DOCODE END AS FICHENO, INVOICE.DOCODE, INVOICE.EINVOICE,		 
		        ROUND(CASE  
		                                        WHEN INVOICE.TOTALVAT = SUM(STLINE.VATAMNT) -- ISNULL(SUM((STLINE.VATAMNT / NULLIF(STLINE.DEDUCTIONPART1, 0)) * STLINE.DEDUCTIONPART2), SUM(STLINE.VATMATRAH * (STLINE.VAT / 100)))
			                                        THEN INVOICE.TOTALVAT 
		                                        ELSE 
			                                        CASE 
				                                        WHEN (SUM(STLINE.CANDEDUCT) <> 0) OR (1 <= (SELECT COUNT(STLINE2.LOGICALREF) FROM LG_120_01_STLINE STLINE2 WHERE STLINE2.INVOICEREF = INVOICE.LOGICALREF AND STLINE2.TRCODE = 4 AND STLINE2.LINETYPE = 11))
					                                        THEN ISNULL(SUM((STLINE.VATAMNT / NULLIF(STLINE.DEDUCTIONPART1, 0)) * STLINE.DEDUCTIONPART2), SUM(STLINE.VATMATRAH * (STLINE.VAT / 100)))
				                                        ELSE INVOICE.TOTALVAT
			                                        END 
		                                    END, 2) AS TOTALVAT, 
                SUM(CASE WHEN  STLINE.VAT = 1 THEN STLINE.VATMATRAH * (STLINE.VAT / 100) ELSE 0 END) AS TOTALVAT_1,
		        SUM(CASE WHEN  STLINE.VAT = 8 THEN STLINE.VATMATRAH * (STLINE.VAT / 100) ELSE 0 END) AS TOTALVAT_8,
		        SUM(CASE WHEN  STLINE.VAT = 18 THEN STLINE.VATMATRAH * (STLINE.VAT / 100) ELSE 0 END) AS TOTALVAT_18,
                ROUND(SUM(STLINE.VATMATRAH + STLINE.VATAMNT), 2) AS NETTOTAL, 
                ROUND(SUM(STLINE.VATMATRAH), 2) AS GROSSTOTAL, CASE WHEN CLCARD.CODE IS NULL THEN '' ELSE INVOICE.GENEXP1 END AS ACIKLAMA, 
	            '' AS EXIM_CUSTDOCNO, '' AS EXIM_FILENO, CASE WHEN ISNULL(L_SHPAGENT.TAXNR, '') <> '' THEN L_SHPAGENT.TAXNR ELSE L_SHPAGENT.TCNO END AS TASIYICI_VN
	        FROM LG_120_01_INVOICE INVOICE WITH(NOLOCK)
		        INNER JOIN LG_120_01_STLINE STLINE WITH(NOLOCK) ON STLINE.INVOICEREF = INVOICE.LOGICALREF  AND STLINE.VATAMNT > 0 
		        LEFT JOIN LG_120_CLCARD CLCARD WITH(NOLOCK) ON INVOICE.CLIENTREF = CLCARD.LOGICALREF 
	            LEFT JOIN L_SHPAGENT WITH(NOLOCK) ON L_SHPAGENT.CODE COLLATE Turkish_CI_AS = INVOICE.SHPAGNCOD COLLATE Turkish_CI_AS
	        WHERE INVOICE.TRCODE IN (1, 4)
		        AND INVOICE.CANCELLED = 0
		        AND INVOICE.DATE_ BETWEEN @_BEGIN_DATE AND @_END_DATE
                
	        GROUP BY INVOICE.LOGICALREF, INVOICE.SPECODE, CLCARD.CODE, CLCARD.DEFINITION_,  
	                CLCARD.TAXOFFICE, CLCARD.ISPERSCOMP, CLCARD.TAXNR, CLCARD.TCKNO, INVOICE.DATE_, 
	                INVOICE.TOTALVAT, INVOICE.TOTALDISCOUNTED, INVOICE.NETTOTAL, INVOICE.GENEXP1, INVOICE.GENEXP2, INVOICE.GENEXP3,
	                INVOICE.SERIALCODE, CASE 0 WHEN 0 THEN INVOICE.FICHENO ELSE INVOICE.DOCODE END, INVOICE.DOCODE, INVOICE.DEDUCTIONPART1, INVOICE.DEDUCTIONPART2, INVOICE.EINVOICE, 
		            L_SHPAGENT.TAXNR, L_SHPAGENT.TCNO
	    UNION ALL 
        SELECT 1 AS TIP, INVOICE.LOGICALREF, INVOICE.SPECODE, ISNULL(CLCARD.CODE, '') AS CODE, ISNULL(CLCARD.DEFINITION_, INVOICE.GENEXP1) AS DEFINITION_,  
		        ISNULL(CLCARD.TAXOFFICE, INVOICE.GENEXP3) AS TAXOFFICE, ISNULL(CASE CLCARD.ISPERSCOMP WHEN 1 THEN TCKNO ELSE CLCARD.TAXNR END, INVOICE.GENEXP2) AS TAXNR, MAX(GINVOICE.DATE_) AS DATE_, 
                INVOICE.SERIALCODE AS SERINO, GINVOICE.FICHENO, GINVOICE.DOCODE, INVOICE.EINVOICE,		 
		        MAX(GINVOICE.VATAMNT) AS TOTALVAT, MAX(GINVOICE.VATAMNT_1) AS TOTALVAT_1, MAX(GINVOICE.VATAMNT_8) AS TOTALVAT_8, MAX(GINVOICE.VATAMNT_18) AS TOTALVAT_18,
                ROUND((MAX(GINVOICE.VATAMNT) / (MAX(GINVOICE.VAT) / CONVERT(FLOAT, 100))) - MAX(GINVOICE.VATAMNT), 2) AS NETTOTAL, 
                ROUND(MAX(GINVOICE.VATAMNT) / (MAX(GINVOICE.VAT) / CONVERT(FLOAT, 100)), 2) AS GROSSTOTAL, CASE WHEN CLCARD.CODE IS NULL THEN '' ELSE INVOICE.GENEXP1 END AS ACIKLAMA, 
	            GINVOICE.CUSTDOCNO AS EXIM_CUSTDOCNO, GINVOICE.FILENO AS EXIM_FILENO, CASE WHEN ISNULL(L_SHPAGENT.TAXNR, '') <> '' THEN L_SHPAGENT.TAXNR ELSE L_SHPAGENT.TCNO END AS TASIYICI_VN
	        FROM @GUMRUK_FATURALARI GINVOICE 
			    INNER JOIN LG_120_01_INVOICE INVOICE WITH(NOLOCK) ON INVOICE.LOGICALREF = GINVOICE.INVOICEREF
		        INNER JOIN LG_120_01_STLINE STLINE WITH(NOLOCK) ON STLINE.INVOICEREF = INVOICE.LOGICALREF 
		        LEFT JOIN LG_120_CLCARD CLCARD WITH(NOLOCK) ON INVOICE.CLIENTREF = CLCARD.LOGICALREF 
	            LEFT JOIN L_SHPAGENT WITH(NOLOCK) ON L_SHPAGENT.CODE COLLATE Turkish_CI_AS = INVOICE.SHPAGNCOD COLLATE Turkish_CI_AS
	        WHERE INVOICE.TRCODE IN (1, 4)
		        AND INVOICE.CANCELLED = 0
	        GROUP BY INVOICE.LOGICALREF, INVOICE.SPECODE, CLCARD.CODE, CLCARD.DEFINITION_,  
	                CLCARD.TAXOFFICE, CLCARD.ISPERSCOMP, CLCARD.TAXNR, CLCARD.TCKNO, INVOICE.DATE_, 
	                INVOICE.TOTALVAT, INVOICE.TOTALDISCOUNTED, INVOICE.NETTOTAL, INVOICE.GENEXP1, INVOICE.GENEXP2, INVOICE.GENEXP3,
	                INVOICE.SERIALCODE, GINVOICE.FICHENO, GINVOICE.DOCODE, INVOICE.DEDUCTIONPART1, INVOICE.DEDUCTIONPART2, INVOICE.EINVOICE, 
		            GINVOICE.CUSTDOCNO, L_SHPAGENT.TAXNR, L_SHPAGENT.TCNO, GINVOICE.FILENO
	    UNION ALL 
	    SELECT 2 AS TIP, CLFICHE.LOGICALREF, ' ' AS SPECODE, ISNULL(CLCARD.CODE,'') AS CODE, ISNULL(CLCARD.DEFINITION_,'') AS DEFINITION_, ISNULL(CLCARD.TAXOFFICE,'') AS TAXOFFICE, 
		    ISNULL(CASE CLCARD.ISPERSCOMP WHEN 1 THEN TCKNO ELSE CLCARD.TAXNR END, '') AS TAXNR,  CLFICHE.DATE_, '' AS SERINO, CLFICHE.FICHENO, CLFICHE.DOCODE, CONVERT(INT, 0) AS EINVOICE,
		    (100 * CLFLINE.AMOUNT) / (CLFLINE.VATRATE + 100 - CLFLINE.DISCRATE) * (VATRATE/100) AS TOTALVAT, 
            CASE WHEN  CLFLINE.VATRATE = 1 THEN (100 * CLFLINE.AMOUNT) / (CLFLINE.VATRATE + 100 - CLFLINE.DISCRATE) * (VATRATE/100) ELSE 0 END AS TOTALVAT_1,
		    CASE WHEN  CLFLINE.VATRATE = 8 THEN (100 * CLFLINE.AMOUNT) / (CLFLINE.VATRATE + 100 - CLFLINE.DISCRATE) * (VATRATE/100) ELSE 0 END AS TOTALVAT_8,
		    CASE WHEN  CLFLINE.VATRATE = 18 THEN (100 * CLFLINE.AMOUNT) / (CLFLINE.VATRATE + 100 - CLFLINE.DISCRATE) * (VATRATE/100) ELSE 0 END AS TOTALVAT_18,
            CLFICHE.CREDIT AS NETTOTAL, (100 * CLFLINE.AMOUNT) / (CLFLINE.VATRATE + 100 - CLFLINE.DISCRATE) AS BRUT, CLFLINE.LINEEXP AS ACIKLAMA,
            '' AS EXIM_CUSTDOCNO, '' AS EXIM_FILENO, '' AS TASIYICI_VN
	    FROM LG_120_01_CLFICHE CLFICHE
		    INNER JOIN LG_120_01_CLFLINE CLFLINE ON CLFLINE.SOURCEFREF = CLFICHE.LOGICALREF AND CLFLINE.MODULENR = 5 AND CLFLINE.TRCODE = 46 AND (CLFLINE.DATE_ BETWEEN @_BEGIN_DATE AND @_END_DATE) 
		    INNER JOIN LG_120_CLCARD CLCARD ON CLCARD.LOGICALREF = CLFLINE.CLIENTREF 	
	    UNION ALL 	
	    SELECT 3 AS TIP, KSLINES.LOGICALREF, KSLINES.SPECODE, '' AS CODE, KSLINES.CUSTTITLE AS DEFINITION_, '' AS TAXOFFICE, 
		    ISNULL(CASE KSLINES.ISPERSCOMP WHEN 1 THEN KSLINES.TCKNO ELSE KSLINES.TAXNR END, '') AS TAXNR, KSLINES.DATE_, '' AS SERINO, KSLINES.FICHENO, KSLINES.DOCODE, CONVERT(INT, 0) AS EINVOICE,
		    (100 * KSLINES.AMOUNT) / (KSLINES.SMMVATRATE + 100 - KSLINES.GPINCOMETACRAT) * (KSLINES.SMMVATRATE/100) AS TOTALVAT, 
            CASE WHEN KSLINES.SMMVATRATE = 1 THEN (100 * KSLINES.AMOUNT) / (KSLINES.SMMVATRATE + 100 - KSLINES.GPINCOMETACRAT) * (KSLINES.SMMVATRATE/100) ELSE 0 END AS TOTALVAT_1,
		    CASE WHEN KSLINES.SMMVATRATE = 8 THEN (100 * KSLINES.AMOUNT) / (KSLINES.SMMVATRATE + 100 - KSLINES.GPINCOMETACRAT) * (KSLINES.SMMVATRATE/100) ELSE 0 END AS TOTALVAT_8,
		    CASE WHEN KSLINES.SMMVATRATE = 18 THEN (100 * KSLINES.AMOUNT) / (KSLINES.SMMVATRATE + 100 - KSLINES.GPINCOMETACRAT) * (KSLINES.SMMVATRATE/100) ELSE 0 END AS TOTALVAT_18,
		    KSLINES.AMOUNT AS NETTOTAL, (100 * KSLINES.AMOUNT) / (KSLINES.SMMVATRATE + 100 - KSLINES.GPINCOMETACRAT) AS BRUT, KSLINES.LINEEXP AS ACIKLAMA,
            '' AS EXIM_CUSTDOCNO, '' AS EXIM_FILENO, '' AS TASIYICI_VN
	    FROM LG_120_01_KSLINES KSLINES 
		    LEFT OUTER JOIN LG_120_01_INVOICE INVOICE ON KSLINES.TRANSREF = INVOICE.LOGICALREF 
		    LEFT OUTER JOIN LG_120_CLCARD CLCARD ON INVOICE.CLIENTREF = CLCARD.LOGICALREF
	    WHERE KSLINES.TRCODE = 77 
		    AND KSLINES.DATE_ BETWEEN @_BEGIN_DATE AND @_END_DATE
    ) AS HAREKETLER 

	LEFT JOIN (
 SELECT t.INVOICEREF 
      , STUFF(( SELECT ', ' + LINEEXP
                FROM (SELECT 
      LGMAIN.INVOICEREF,   
     
      CASE
  WHEN LGMAIN.LINETYPE IN (4)   THEN SRVCARD.DEFINITION_
  WHEN LGMAIN.LINETYPE IN (2,3) THEN DECARDS.DEFINITION_
  WHEN LGMAIN.LINETYPE NOT IN (2,3,4)   THEN ITEM.NAME
   ELSE '' END AS LINEEXP
    
FROM
     LG_120_01_STLINE LGMAIN WITH(NOLOCK)
  LEFT OUTER JOIN LG_120_ITEMS ITEM WITH(NOLOCK) ON LGMAIN.STOCKREF = ITEM.LOGICALREF
  LEFT OUTER JOIN LG_120_DECARDS DECARDS WITH(NOLOCK) ON LGMAIN.STOCKREF = DECARDS.LOGICALREF
  LEFT OUTER JOIN LG_120_SRVCARD SRVCARD WITH(NOLOCK) ON LGMAIN.STOCKREF = SRVCARD.LOGICALREF
  INNER JOIN LG_120_UNITSETL UNITSETL ON LGMAIN.UOMREF = UNITSETL.LOGICALREF  
WHERE  LGMAIN.INVOICEREF > 0
group by  CASE
  WHEN LGMAIN.LINETYPE IN (4)   THEN SRVCARD.DEFINITION_
  WHEN LGMAIN.LINETYPE IN (2,3) THEN DECARDS.DEFINITION_
  WHEN LGMAIN.LINETYPE NOT IN (2,3,4)   THEN ITEM.NAME
   ELSE '' END  ,LGMAIN.INVOICEREF  ) AS TBL
                WHERE INVOICEREF = t.INVOICEREF
                FOR XML PATH(''),TYPE)
                .value('.','NVARCHAR(MAX)'),1,2,'') AS MalzemeAdi



, STUFF(( SELECT ', ' + Birim
                FROM (SELECT 
      LGMAIN.INVOICEREF,  cast (MAX(LGMAIN.AMOUNT) as varchar(20)) + ' '    +
     
      
    UNITSETL.CODE as Birim
FROM
     LG_120_01_STLINE LGMAIN WITH(NOLOCK)
  LEFT OUTER JOIN LG_120_ITEMS ITEM WITH(NOLOCK) ON LGMAIN.STOCKREF = ITEM.LOGICALREF
  LEFT OUTER JOIN LG_120_DECARDS DECARDS WITH(NOLOCK) ON LGMAIN.STOCKREF = DECARDS.LOGICALREF
  LEFT OUTER JOIN LG_120_SRVCARD SRVCARD WITH(NOLOCK) ON LGMAIN.STOCKREF = SRVCARD.LOGICALREF
  INNER JOIN LG_120_UNITSETL UNITSETL ON LGMAIN.UOMREF = UNITSETL.LOGICALREF  
WHERE  LGMAIN.INVOICEREF > 0
group by  UNITSETL.CODE, INVOICEREF) AS TBL
                WHERE INVOICEREF = t.INVOICEREF
                FOR XML PATH(''),TYPE)
                .value('.','NVARCHAR(MAX)'),1,2,'') AS Adet



FROM (SELECT 
      LGMAIN.INVOICEREF,  LGMAIN.AMOUNT,  
      
      CASE
  WHEN LGMAIN.LINETYPE IN (4)   THEN SRVCARD.DEFINITION_
  WHEN LGMAIN.LINETYPE IN (2,3) THEN DECARDS.DEFINITION_
  WHEN LGMAIN.LINETYPE NOT IN (2,3,4)   THEN ITEM.NAME
   ELSE '' END AS LINEEXP
   ,UNITSETL.CODE as Birim
FROM
     LG_120_01_STLINE LGMAIN WITH(NOLOCK)
  LEFT OUTER JOIN LG_120_ITEMS ITEM WITH(NOLOCK) ON LGMAIN.STOCKREF = ITEM.LOGICALREF
  LEFT OUTER JOIN LG_120_DECARDS DECARDS WITH(NOLOCK) ON LGMAIN.STOCKREF = DECARDS.LOGICALREF
  LEFT OUTER JOIN LG_120_SRVCARD SRVCARD WITH(NOLOCK) ON LGMAIN.STOCKREF = SRVCARD.LOGICALREF
  INNER JOIN LG_120_UNITSETL UNITSETL ON LGMAIN.UOMREF = UNITSETL.LOGICALREF  
WHERE  LGMAIN.INVOICEREF > 0) as  t
GROUP BY t.INVOICEREF) TBLDETAY ON TBLDETAY.INVOICEREF = LOGICALREF 


 WHERE TOTALVAT > 0 
ORDER BY   HAREKETLER.DATE_,  HAREKETLER.FICHENO    
END